/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
/* general styles */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #B8B8B8;
}
.startOuiz{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.startOuiz .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:429px;
    height: 310px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}
.startOuiz .content label{
    font-size: 45px;
}
.startOuiz .content input{

    background-color: #D7D7D7;
    width: 270px;
    height: 61px;
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 16px;
}
.startOuiz .content button{
    width: 91px;
    height: 38px;
    border-radius: 15px;
    border: 0;
    margin-top: 15px;
    background-color: #928989;
    transition: all .5s ;
    cursor: pointer;
}
.startOuiz .content button a{
    text-decoration: none;
    color: #fff;
}
.startOuiz .content button:hover{
    background-color: #B8B8B8;
    
}
body {
    background: #B8B8B8;
}
/* start description page */
.container-description {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}





/* start questions page style */
body{
    background-color: #B8B8B8;
}
.question-header{
    padding: 35px;
    display: flex;
    justify-content: space-between;
}
.question-counts{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.all-questions{
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* .question-title{
    margin-bottom: 20px;
} */
.question-result {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.result{
    width: 100%;
    margin: auto;
    background-color: #fff;
    display: flex;
    gap: 12px;
    border-radius: 8px;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;

}
.result:hover{
    background-color:rgb(222, 222, 222) ;
}
.result span{
    background-color: #3D743F;
    color: white;
    padding: 15px 20px;
    border-radius: 8px 0 0 8px;
}
.next-btn{
    background-color: #656565;
    color: white;
    border: 0ch;
    width: 160px;
    height: 35px;
    border-radius: 8px;
    align-self: flex-end;
    font-size: 1.1rem;
    transition: all 0.3s;
    cursor: pointer;

}
.next-btn:hover{
    background-color: #8f8c8c;
}
.rules{
    width: 540px;
    background: #fff;
    border-radius: 5px;
}
.rules .title-description {
    font-size: 22px;
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: 0;
    padding-left: 16px;
}
.rules-list{
    padding: 15px 35px;
}
.rules-list li{
    margin: 8px 0;
    font-size: 14px;
}
.rules .div-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 32px;
    margin: 8px 0;
}
.div-btn a {
    font-size: 18px;
    padding: 8px 0;
    width: 110px;
    margin: 4px;
    font-weight: bold;
    background: #656565;
    color: #fff;
    /* border: none;
    outline: none; */
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
}

/* start leader board page */
.container-leader-board {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.score {
    font-size: 50px;
    color: #3D743F;
    font-weight: bold;
}
.username {
    font-size: 40px;
}

.save-btn {
    outline: none;
    border: none;
    color: #fff;
    padding: 16px 16px;
    background: #656565;
    border-radius: 8px;
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 24px;
    cursor: pointer;
}
.save-btn:hover , .agin-btn:hover{
    background: #6e6e6e;
}
.agin-btn {
    font-size: 16px;
    padding: 8px;
    background: #656565;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
}
